{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GoFi{% endblock %}</title>

    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg sticky-top">

    <div class="container">

        <a class="navbar-brand d-flex align-items-center" href="{% url 'workspace' %}">

            <div class="logo-placeholder"></div>

            <span class="ms-3">GoFi</span>

        </a>

        {% if request.user.is_authenticated %}

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div
            class="collapse navbar-collapse"
            id="navbarNav">

            <ul class="navbar-nav mx-auto">

                <li class="nav-item">

                    <a
                        href="{% url 'workspace' %}"
                        class="nav-link">

                        Workspace

                    </a>

                </li>

                <li class="nav-item">

                    <a
                        href="{% url 'library' %}"
                        class="nav-link">

                        Library

                    </a>

                </li>

            </ul>

            <div class="user-area">

                <div class="user-avatar">

                    {{ request.user.username|first|upper }}

                </div>

                <span class="username">

                    {{ request.user.username }}

                </span>


                <a
                    href="{% url 'logout' %}"
                    class="btn btn-dark"
                    onclick="return confirm('Are you sure you want to logout?')">

                    Logout

                </a>

            </div>

        </div>

        {% endif %}

    </div>

</nav>


<div id="toast" class="toast-message">

    <span id="toastText"></span>

</div>

<div class="container py-5">

    {% block content %}

    {% endblock %}

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>