{% extends "notes/base.html" %}

{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
    <form method="POST">

    {% csrf_token %}

    <input type="text" name="username" placeholder="Username">

    <input type="email" name="email" placeholder="Email">

    <input type="password" name="password" placeholder="Password">

    <input type="password" name="confirm_password" placeholder="Confirm Password">

    <button type="submit">Register</button>

</form>

<p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
{% endblock %}